node_modules/
data.db
data.db-journal
*.sqlite
*.sqlite-journal
uploads/*
!uploads/.gitkeep
.env
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/.idea/
